extend layout
block content
    .container-fluid
      .row
        .col-md-12
          h3
            | jquery generator
          .row
            .col-md-6
              h4  Data
                    #divCheckbox(style='visibility: hidden; display:inline;')
                          textarea#preText(name='preText')
                
                    form#preform.form-horizontal(name='preform')
                      fieldset
                        // Text input
                        .form-group
                          label.col-md-4.control-label(for='name') Function Name
                          .col-md-4
                            input#name.form-control.input-md(name='name', type='text', placeholder='')




            .col-md-6
              h4  coffee Code
              textarea#postText(name='postText')
          button#convert.btn.btn-primary(name='convert', type='button')
            | Convert

    script.
        $( "#convert" ).click(function(evt) {
        evt.preventDefault();
        var formdata = {};
        $("#preform").serializeArray().map(function(x){formdata[x.name] = x.value;}); 
        $.ajax({
        url: '/jquerygen.do',
        dataType: 'json',
        type: 'post',
        contentType: 'application/json',
        data:  JSON.stringify( formdata ),
        processData: false,
        success: function( data, textStatus, jQxhr ){
        pst.getDoc().setValue(data.result);
        },
        error: function( jqXhr, textStatus, errorThrown ){
        console.log( errorThrown );
        }
        });
        })


