extend layout
block content
    .container-fluid
      .row
        .col-md-12
          .jumbotron
            p
              a.btn.btn-primary.btn-large(href='/html2jquery') html2jquery
              a.btn.btn-primary.btn-large(href='/js2coffee') js2coffee 
              a.btn.btn-primary.btn-large(href='/dialog2coffee') dialog2coffee 
              a.btn.btn-primary.btn-large(href='/html2coffee') html2coffee 
              a.btn.btn-primary.btn-large(href='/brand2less') brand2less 
              a.btn.btn-primary.btn-large(href='/html2jade') html2jade
              a.btn.btn-primary.btn-large(href='/jquerygen') jquerygen

